aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==23.1.0
certifi==2024.2.2
chardet==4.0.0
charset-normalizer==3.3.2
colorama==0.4.6
deepl==1.17.0
discord==2.3.2
discord.py==2.3.2
idna==3.4
multidict==6.0.4
requests==2.31.0
typing_extensions==4.7.1
urllib3==2.2.1
yarl==1.9.2
